{
    "version": 1,
    "data": {
        "pageDelay": 100,
        "itemDelay": 40,
        "stats": [],
        "loadedPresets": [],
        "presets": {
            "infusion-cf": {
                "ids": [
                    5007793,
                    5007845,
                    5007897,
                    5007949,
                    5008001,
                    5008053,
                    5008105,
                    5008157,
                    5008209,
                    5008261,
                    5008313,
                    5008365
                ]
            },
            "infusion-pcp": {
                "ids": [
                    5008073,
                    5008125,
                    5008177,
                    5008229,
                    5008281,
                    5008333,
                    5007761,
                    5007813,
                    5007865,
                    5007917,
                    5007969,
                    5008021
                ]
            },
            "infusion-pamp": {
                "ids": [
                    5007745,
                    5007797,
                    5007849,
                    5007901,
                    5007953,
                    5008005,
                    5008057,
                    5008109,
                    5008161,
                    5008213,
                    5008265,
                    5008317
                ]
            },
            "infusion-mres": {
                "ids": [
                    5007757,
                    5007809,
                    5007861,
                    5007913,
                    5007965,
                    5008017,
                    5008069,
                    5008121,
                    5008173,
                    5008225,
                    5008277,
                    5008329
                ]
            },
            "cf10": {
                "ids": [
                    5007481,
                    5007611,
                    5007741,
                    5007091,
                    5007221,
                    5007351
                ]
            }
        }
    }
}